@mixin Myflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include Myflex();
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../../font/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../../font/Montserrat-Light.ttf");

}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../../font/Montserrat-Medium.ttf");

}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../font/Montserrat-Regular.ttf");

}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../../font/Montserrat-SemiBold.ttf");

}

footer {
    @include Myflex();
    background-color: #1a1a1a;
    justify-content: space-between;
    padding: 50px;
    text-align: center;
    color: gray;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Montserrat-Medium";

    .iconBox {
        display: flex;
        color: white;
        gap: 20px;
        text-align: center;
        @include Myflex();

        p {
            transition: 0.3s;
        }

        p:hover {
            transition: 0.3s;
            color: #A97E4F;
            cursor: pointer;
        }
    }

}

@media only screen and (max-width: 834px) {
    footer {
        flex-direction: column;
    }
}